.profile{
    font-weight: 400;
font-size: 20px;
color: #262626;
}
.dollar{
    font-weight: 400;
font-size: 20px;
color: #262626;
opacity: 0.5;
}
.items{
    font-weight: 400;
    font-size: 20px;
color: #262626;

}