.latest{
    font-weight: 600;
font-size: 34px;
color: #22262A;
}
.date{
    font-weight: 500;
font-size: 18px;
color: #C1C8CE;
}
.fashion{
    font-weight: 600;
font-size: 22px;
color: #22262A;

}
.lorem2{
    font-weight: 400;
font-size: 18px;
color: #22262A;
}